<section class="composed-retail-hero">
  <div class="composed-retail-hero__intro">
    <div class="composed-retail-hero__copy">
      <h1>{{headline}}</h1>
      <p>{{subtitle}}</p>
      <a class="composed-retail-hero__action" href="#{{primary_page_key}}" data-page-link="{{primary_page_key}}">{{primary_button}}</a>
    </div>
    <img class="composed-retail-hero__main-image" src="{{image_1}}" alt="{{image_1_alt}}">
  </div>
  <div class="composed-retail-hero__categories">
    <figure><img src="{{image_2}}" alt="{{image_2_alt}}"><figcaption>{{category_1}}</figcaption></figure>
    <figure><img src="{{image_3}}" alt="{{image_3_alt}}"><figcaption>{{category_2}}</figcaption></figure>
  </div>
</section>
